@charset "UTF-8";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}





@media only screen and (min-width: 1px) and (max-width: 320px) {
    #banner {
        width: 100%;
        height: 160px;
        max-width: 320px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #banner a {
        color: rgb(255, 255, 0);
        text-decoration: none;
        font-size: 12vw;
        text-align: center;
        padding: 4px;
        font-family: "Righteous", cursive;
        font-weight: 400;
        -webkit-text-stroke: 1.2px rgb(0, 0, 0);
        background-color: rgb(230, 230, 250);
        border-radius: 5px;
    }

    nav {
        background-color: black;
        height: 277px;

        width: 140px;

        padding-top: 20px;
        border-top-right-radius: 11px;

        border-bottom-right-radius: 22px;

        border-bottom: 4px solid rgb(65, 105, 225);
        border-right: 4px solid rgb(65, 105, 225);
        border-top: 4px solid rgb(65, 105, 225);

        font-family: "Montserrat Alternates", sans-serif;
    }

    nav ul li a {
        color: rgb(220, 220, 220);
        text-decoration: none;
        font-size: 5vw;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 14px;
    }

    .heading {
        font-family: "Montserrat Alternates", sans-serif;
        margin: 25px;
        font-size: 10px;
    }

    .heading p {
        font-size: 12px;
        padding-top: 5px;
    }

    figcaption {
        color: rgb(143, 188, 139);
        font-size: 13px;
        padding: 10px;
        text-align: center;
    }

    div.gallery {
        background-color: black;

        padding-bottom: 50px;
        margin-top: 25px;
        border: 7px double rgb(46, 139, 87);
        border-radius: 7px;
    }

    .picture img {
        width: 100%;
        margin-top: 66px;

        border: 1px solid rgb(255, 0, 0);

        border-radius: 4px;
    }

    .picture {
        max-width: 80%;
        margin-top: 15px;
        margin-bottom: 15px;
        margin: auto;
    }

    .top {
        width: 71%;
        height: 50px;
        background-color: rgb(0, 191, 255);
        background-color: rgb(135, 206, 250);
        border-radius: 50px;

        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-top: 55px;
        margin-bottom: 44px;
    }

    .top a {
        text-decoration: none;
        font-size: 10px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-family: "Montserrat Alternates", sans-serif;
    }
}





@media only screen and (min-width: 321px) and (max-width: 375px) {
    #banner {
        width: 100%;
        height: 200px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #banner a {
        color: rgb(255, 255, 0);
        text-decoration: none;
        font-size: 6.6vw;
        margin: 24px auto 24px auto;
        padding: 12px;
        font-family: "Righteous", cursive;
        font-weight: 400;
        -webkit-text-stroke: 1.5px rgb(0, 0, 0);
        background-color: rgb(230, 230, 250);
        border-radius: 6px;
    }

    nav {
        height: 65px;
        background-color: black;
        height: 300px;

        width: 200px;
        margin: 0;

        padding-top: 30px;
        border-top-right-radius: 8px;

        border-bottom-right-radius: 16px;

        border-bottom: 5px solid rgb(65, 105, 225);
        border-right: 5px solid rgb(65, 105, 225);
        border-top: 5px solid rgb(65, 105, 225);

        font-family: "Montserrat Alternates", sans-serif;
    }

    nav ul li a {
        color: rgb(220, 220, 220);
        text-decoration: none;
        font-size: 17px;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 14px;
    }

    .heading {
        font-family: "Montserrat Alternates", sans-serif;
        margin: 25px;
        font-size: 12px;
    }

    .heading p {
        font-size: 14px;
        padding-top: 5px;
    }

    figcaption {
        color: rgb(143, 188, 139);
        font-size: 15px;
        padding: 10px;
        text-align: center;
    }

    div.gallery {
        background-color: black;

        padding-bottom: 50px;
        margin-top: 25px;
        border: 7px double rgb(46, 139, 87);
        border-radius: 7px;
    }

    .picture img {
        width: 100%;
        margin-top: 66px;

        border: 2px solid rgb(255, 0, 0);

        border-radius: 4px;
    }

    .picture {
        max-width: 80%;
        margin-top: 15px;
        margin-bottom: 15px;
        margin: auto;
    }

    .top {
        width: 66%;
        height: 50px;
        background-color: rgb(0, 191, 255);
        background-color: rgb(135, 206, 250);
        border-radius: 50px;

        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-top: 55px;
        margin-bottom: 44px;
    }

    .top a {
        text-decoration: none;
        font-size: 12px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-family: "Montserrat Alternates", sans-serif;
    }
}



@media only screen and (min-width: 376px) and (max-width: 425px) {
    #banner {
        width: 100%;
        height: 200px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #banner a {
        color: rgb(255, 255, 0);
        text-decoration: none;
        font-size: 6.6vw;
        margin: 24px auto 24px auto;
        padding: 12px;
        font-family: "Righteous", cursive;
        font-weight: 400;
        -webkit-text-stroke: 1.5px rgb(0, 0, 0);
        background-color: rgb(230, 230, 250);
        border-radius: 6px;
    }

    nav {
        height: 65px;
        background-color: black;
        height: 300px;

        width: 200px;
        margin: 0;

        padding-top: 30px;
        border-top-right-radius: 8px;

        border-bottom-right-radius: 16px;

        border-bottom: 5px solid rgb(65, 105, 225);
        border-right: 5px solid rgb(65, 105, 225);
        border-top: 5px solid rgb(65, 105, 225);

        font-family: "Montserrat Alternates", sans-serif;
    }

    nav ul li a {
        color: rgb(220, 220, 220);
        text-decoration: none;
        font-size: 17px;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 14px;
    }

    .heading {
        font-family: "Montserrat Alternates", sans-serif;
        margin: 25px;
        font-size: small;
        max-width: 376px;
    }

    .heading p {
        font-size: medium;
        padding-top: 5px;
    }

    figcaption {
        color: rgb(143, 188, 139);
        font-size: 16px;
        padding: 10px;
        text-align: center;
    }

    div.gallery {
        background-color: black;

        padding-bottom: 50px;
        margin-top: 25px;
        border: 7px double rgb(46, 139, 87);
        border-radius: 7px;
        max-width: 376px;
    }

    .picture img {
        width: 100%;
        margin-top: 66px;

        border: 2px solid rgb(255, 0, 0);

        border-radius: 4px;
    }

    .picture {
        max-width: 80%;
        margin-top: 15px;
        margin-bottom: 15px;
        margin: auto;
    }

    .top {
        width: 58%;
        height: 50px;
        background-color: rgb(0, 191, 255);
        background-color: rgb(135, 206, 250);
        border-radius: 50px;

        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        margin-top: 55px;
        margin-bottom: 44px;
    }

    .top a {
        text-decoration: none;
        font-size: 12px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-family: "Montserrat Alternates", sans-serif;
    }
}





@media only screen and (min-width: 426px) and (max-width: 480px) {
    #banner {
        width: 100%;
        height: 200px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #banner a {
        color: rgb(255, 255, 0);
        text-decoration: none;
        font-size: 6.6vw;
        margin: 24px auto 24px auto;
        padding: 12px;
        font-family: "Righteous", cursive;
        font-weight: 400;
        -webkit-text-stroke: 1.5px rgb(0, 0, 0);
        background-color: rgb(230, 230, 250);
        border-radius: 6px;
    }

    nav {
        height: 65px;
        background-color: black;
        height: 300px;

        width: 200px;
        margin: 0;

        padding-top: 30px;
        border-top-right-radius: 8px;

        border-bottom-right-radius: 16px;

        border-bottom: 5px solid rgb(65, 105, 225);
        border-right: 5px solid rgb(65, 105, 225);
        border-top: 5px solid rgb(65, 105, 225);

        font-family: "Montserrat Alternates", sans-serif;
    }

    nav ul li a {
        color: rgb(220, 220, 220);
        text-decoration: none;
        font-size: 17px;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 14px;
    }

    .heading {
        font-family: "Montserrat Alternates", sans-serif;
        margin: 25px;
        font-size: small;
    }

    .heading p {
        font-size: medium;
        padding-top: 5px;
    }

    figcaption {
        color: rgb(143, 188, 139);
        font-size: 19px;
        padding: 12px;
        text-align: center;
    }

    div.gallery {
        background-color: black;

        padding-bottom: 50px;
        margin-top: 25px;
        border: 7px double rgb(46, 139, 87);
        border-radius: 7px;
    }

    .picture img {
        width: 100%;
        margin-top: 66px;

        border: 2px solid rgb(255, 0, 0);

        border-radius: 4px;
    }

    .picture {
        max-width: 80%;
        margin-top: 20px;
        margin-bottom: 25px;
        margin: auto;
    }

    .top {
        width: 58%;
        height: 50px;
        background-color: rgb(0, 191, 255);
        background-color: rgb(135, 206, 250);
        border-radius: 50px;

        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        margin-top: 55px;
        margin-bottom: 44px;
    }

    .top a {
        text-decoration: none;
        font-size: 14px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-family: "Montserrat Alternates", sans-serif;
    }
}





@media only screen and (min-width: 481px) and (max-width: 767px) {
    #banner {
        width: 100%;
        height: 200px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #banner a {
        color: rgb(255, 255, 0);
        text-decoration: none;
        font-size: 7vw;
        margin: 24px auto 24px auto;
        padding: 12px;
        font-family: "Righteous", cursive;
        font-weight: 400;
        -webkit-text-stroke: 2px rgb(0, 0, 0);
        background-color: rgb(230, 230, 250);
        border-radius: 6px;
    }

    nav {
        height: 65px;
        background-color: black;
        height: 300px;

        width: 200px;
        margin: 0;

        padding-top: 30px;
        border-top-right-radius: 8px;

        border-bottom-right-radius: 16px;

        border-bottom: 5px solid rgb(65, 105, 225);
        border-right: 5px solid rgb(65, 105, 225);
        border-top: 5px solid rgb(65, 105, 225);

        font-family: "Montserrat Alternates", sans-serif;
    }

    nav ul li a {
        color: rgb(220, 220, 220);
        text-decoration: none;
        font-size: 17px;
    }

    nav ul li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 14px;
    }

    .heading {
        font-family: "Montserrat Alternates", sans-serif;
        margin: 25px;
        font-size: small;
    }

    .heading p {
        font-size: medium;
        padding-top: 5px;
    }

    figcaption {
        color: rgb(143, 188, 139);
        font-size: 19px;
        padding: 12px;
        text-align: center;
    }

    div.gallery {
        background-color: black;

        padding-bottom: 50px;
        margin-top: 25px;
        border: 7px double rgb(46, 139, 87);
        border-radius: 7px;
    }

    .picture img {
        width: 100%;
        margin-top: 66px;

        border: 2px solid rgb(255, 0, 0);

        border-radius: 4px;
    }

    .picture {
        max-width: 80%;
        margin-top: 20px;
        margin-bottom: 25px;
        margin: auto;
    }

    .top {
        width: 58%;
        height: 50px;
        background-color: rgb(0, 191, 255);
        background-color: rgb(135, 206, 250);
        border-radius: 50px;

        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        margin-top: 55px;
        margin-bottom: 44px;
    }

    .top a {
        text-decoration: none;
        font-size: 15px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-family: "Montserrat Alternates", sans-serif;
    }
}





@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #banner {
        width: 100%;
        height: 200px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #banner a {
        color: rgb(255, 255, 0);
        text-decoration: none;
        font-size: 44px;
        margin: 24px auto 24px auto;
        padding: 12px;
        font-family: "Righteous", cursive;
        font-weight: 400;
        -webkit-text-stroke: 2px rgb(0, 0, 0);
        background-color: rgb(230, 230, 250);
        border-radius: 6px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: black;
        justify-content: space-evenly;
        margin-top: 26px;
        margin-bottom: 20px;
        font-family: "Montserrat Alternates", sans-serif;
    }

    nav ul li:hover {
        text-align: center;
        background-color: rgb(218, 165, 32);
        transition: background 1s, color 1s;
    }

    nav ul a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 12px;
    }

    .ph {
        background-color: rgb(255, 0, 0);
    }

    .ph:hover {
        background-color: transparent;
    }

    .eco {
        background-color: rgb(255, 0, 0);
    }

    .eco:hover {
        background-color: transparent;
    }

    ul li {
        list-style-type: none;
        margin-left: 47px;
        line-height: 2.5;
    }

    .heading {
        font-family: "Montserrat Alternates", sans-serif;
        margin: 50px;
    }

    .heading p {
        font-size: medium;
        padding-top: 5px;
    }

    figcaption {
        color: rgb(143, 188, 139);
        font-size: 22px;
        padding: 12px;
        text-align: center;
    }

    div.gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 99%;
        height: 8333px;
        margin: auto;
        margin-top: 25px;

        background-color: black;

        border: 10px double rgb(46, 139, 87);
        border-radius: 10px;
    }

    .picture img {
        width: 100%;

        border: 2px solid rgb(255, 0, 0);

        border-radius: 4px;
    }

    .picture {
        max-width: 555px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .top {
        left: 50%;
        position: relative;
        display: block;
        margin: 100px -200px;
        width: 400px;
        height: 60px;
        border: 1px solid #8a1;
        font: normal 30px/60px "Rye";
        text-align: center;
        color: #451;
        background: #9b2;
        border-radius: 4px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.15) inset,
            0 6px 10px rgba(0, 0, 0, 0.15);
    }

    .top a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
    }

    .top::before,
    .top::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: -70px;
        top: 24px;
        display: block;
        width: 40px;
        height: 0px;
        border: 30px solid #9b2;
        border-right: 20px solid #791;
        border-bottom-color: #94b81e;
        border-left-color: transparent;
        transform: rotate(-5deg);
    }

    .top::after {
        left: auto;
        right: -70px;
        border-left: 20px solid #791;
        border-right: 30px solid transparent;
        transform: rotate(5deg);
    }
}





@media only screen and (min-width: 1025px) and (max-width: 1439px) {
    #banner {
        width: 100%;
        height: 200px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #banner a {
        color: rgb(255, 255, 0);
        text-decoration: none;
        font-size: 55px;
        margin: 24px auto 24px auto;
        padding: 12px;
        font-family: "Righteous", cursive;
        font-weight: 400;
        -webkit-text-stroke: 2px rgb(0, 0, 0);
        background-color: rgb(230, 230, 250);
        border-radius: 6px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: black;
        justify-content: space-evenly;
        margin-top: 26px;
        margin-bottom: 20px;
        font-family: "Montserrat Alternates", sans-serif;
    }

    nav ul li:hover {
        text-align: center;
        background-color: rgb(218, 165, 32);
        transition: background 1s, color 1s;
    }

    nav ul a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 15px;
    }

    .ph {
        background-color: rgb(255, 0, 0);
    }

    .ph:hover {
        background-color: transparent;
    }

    .eco {
        background-color: rgb(255, 0, 0);
    }

    .eco:hover {
        background-color: transparent;
    }

    ul li {
        list-style-type: none;
        margin-left: 47px;
        line-height: 2.5;
    }

    .heading {
        font-family: "Montserrat Alternates", sans-serif;
        margin: 50px;
    }

    .heading p {
        padding-top: 10px;
    }

    figcaption {
        text-align: center;
        margin: 5px;
        padding: 5px;
        font-size: 22px;
        color: rgb(143, 188, 139);
    }

    div.gallery {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;

        background-color: black;

        border: 10px double rgb(46, 139, 87);
        border-radius: 10px;
        margin-top: 24px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .picture img {
        width: 100%;
        height: 300px;
        max-width: 400px;

        border: 2px solid rgb(255, 0, 0);
        margin: 12px;
        margin-top: 24px;
        border-radius: 4px;
    }

    .top {
        left: 50%;
        position: relative;
        display: block;
        margin: 100px -200px;
        width: 400px;
        height: 60px;
        border: 1px solid #8a1;
        font: normal 30px/60px "Rye";
        text-align: center;
        color: #451;
        background: #9b2;
        border-radius: 4px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.15) inset,
            0 6px 10px rgba(0, 0, 0, 0.15);
    }

    .top a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
    }

    .top::before,
    .top::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: -70px;
        top: 24px;
        display: block;
        width: 40px;
        height: 0px;
        border: 30px solid #9b2;
        border-right: 20px solid #791;
        border-bottom-color: #94b81e;
        border-left-color: transparent;
        transform: rotate(-5deg);
    }

    .top::after {
        left: auto;
        right: -70px;
        border-left: 20px solid #791;
        border-right: 30px solid transparent;
        transform: rotate(5deg);
    }
}





@media only screen and (min-width: 1440px) {
    #banner {
        width: 100%;
        height: 200px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #banner a {
        color: rgb(255, 255, 0);
        text-decoration: none;
        font-size: 66px;
        margin: 24px auto 24px auto;
        padding: 12px;
        font-family: "Righteous", cursive;
        font-weight: 400;
        -webkit-text-stroke: 2px rgb(0, 0, 0);
        background-color: rgb(230, 230, 250);
        border-radius: 6px;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: black;
        justify-content: space-evenly;
        margin-top: 26px;
        margin-bottom: 20px;
        font-family: "Montserrat Alternates", sans-serif;
    }

    nav ul li:hover {
        text-align: center;
        background-color: rgb(218, 165, 32);
        transition: background 1s, color 1s;
    }

    nav ul a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 15px;
    }

    .ph {
        background-color: rgb(255, 0, 0);
    }

    .ph:hover {
        background-color: transparent;
    }

    .eco {
        background-color: rgb(255, 0, 0);
    }

    .eco:hover {
        background-color: transparent;
    }

    ul li {
        list-style-type: none;
        margin-left: 47px;
        line-height: 2.5;
    }

    .heading {
        font-family: "Montserrat Alternates", sans-serif;
        margin: 50px;
    }


    .heading p {
        padding-top: 10px;
    }

    figcaption {
        text-align: center;
        margin: 5px;
        padding: 5px;
        font-size: 22px;
        color: rgb(143, 188, 139);
    }

    div.gallery {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;

        background-color: black;

        border: 10px double rgb(46, 139, 87);
        border-radius: 10px;
        margin-top: 24px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .picture img {
        width: 100%;
        height: 300px;
        max-width: 400px;

        border: 2px solid rgb(255, 0, 0);
        margin: 12px;
        margin-top: 24px;
        border-radius: 4px;
    }

    .top {
        left: 50%;
        position: relative;
        display: block;
        margin: 100px -200px;
        width: 400px;
        height: 60px;
        border: 1px solid #8a1;
        font: normal 30px/60px "Rye";
        text-align: center;
        color: #451;
        background: #9b2;
        border-radius: 4px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.15) inset,
            0 6px 10px rgba(0, 0, 0, 0.15);
    }

    .top a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        font-family: "Montserrat Alternates", sans-serif;
    }

    .top::before,
    .top::after {
        content: "";
        position: absolute;
        z-index: -1;
        left: -70px;
        top: 24px;
        display: block;
        width: 40px;
        height: 0px;
        border: 30px solid #9b2;
        border-right: 20px solid #791;
        border-bottom-color: #94b81e;
        border-left-color: transparent;
        transform: rotate(-5deg);
    }

    .top::after {
        left: auto;
        right: -70px;
        border-left: 20px solid #791;
        border-right: 30px solid transparent;
        transform: rotate(5deg);
    }
}